
.History-list{

    padding-left: 10px;
    padding-right: 10px;
    .header{
        font-weight: bold;
        border-bottom: 00.5px solid black;
    }
    .list-group-item{
        width: 100% !important;
    }
}